# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment folders
venv/
env/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# IDEs
.vscode/
.idea/

# Log files
*.log

# Temporary files
*.bak
*.swp

# Other unnecessary files
*.tmp
*.~*

# Configuration files or secrets
config.json
*.env
